.bod{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    width: 900px;
    margin-top: 20px;
    padding: 0;
}

.nav{
    background-color: #007bff;
    border: 1px solid gray;
    height: 40px;
    text-align: left;
   
}

.id{
    border: 1px solid gray;
    text-align: center;

}

.name{
    border: 1px solid gray;
    padding-left: 10px;
    width: 125px;

}

.email{
    border: 1px solid gray;
    padding-left: 10px;
    width: 235.42px;

}

.pp{
    border: 1px solid gray;
    padding-left: 10px;
    width: 146.06px;

}

.actions{
    border: 1px solid gray;
    padding-left: 10px;

}

.celda{
    height: 100px;
}

.edit{
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    height: 25px;
    width: 44.98px;

}

.delete{
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    height: 25px;
    margin-left: 5px;
    width: 60.55px;
}
